{% extends 'base.html' %}

<!-- TITLE -->
{% block title %}Inicio{% endblock %}
<!-- END TITLE -->

<!-- CONTENT -->
{% block content %}
    <div class="content">
        <div class="container">
            <h2 class="content__title">¡Mira los productos que tenemos para ti!</h2>
            <section class="content__section">
                <h3 class="content__section__title">Producto #1</h3>
                <ul class="content__section__list">
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">
                            Este es un producto que ayuda a utilizar la higiene personal de una nueva forma
                            Este es un producto que ayuda a utilizar la higiene personal de una nueva forma
                            Este es un producto que ayuda a utilizar la higiene personal de una nueva forma
                        </p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="content__section">
                <h3 class="content__section__title">Producto #2</h3>
                <ul class="content__section__list">
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                    <li class="content__section__list--item">
                        <div class="div-img"></div>
                        <p class="item--precio"><strong>Precio: </strong>MXN$20</p>
                        <p class="item--stock"><strong>Disponibles: </strong>2454</p>
                        <p class="item--desc">Este es un producto que ayuda a utilizar la higiene personal de una nueva forma</p>
                        <div class="item--btn">
                            <a href="#" class="btn">
                                Más Información
                            </a>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
{% endblock %}
<!-- END CONTENT -->