<div class="footer__content">
    <h2 class="footer__content__title">Contáctanos</h2>
    <section class="footer__content__section">
        <ul class="footer__content__section__list">
            <li class="footer__content__section__list--item">
                <i class="fas fa-shield-virus"></i>
                <p>Antibacterial</p>
            </li>
            <li class="footer__content__section__list--item">
                <i class="fas fa-virus-slash"></i>
                <p>Elimina el 99% de los Virus</p>
            </li>
            <li class="footer__content__section__list--item">
                <i class="fas fa-shipping-fast"></i>
                <p>Envío Rápido</p>
            </li>
            <li class="footer__content__section__list--item">
                <i class="fas fa-donate"></i>
                <p>Completamente Accesible</p>
            </li>
            <li class="footer__content__section__list--item">
                <i class="fas fa-recycle"></i>
                <p>Amigable con el Medio Ambiente</p>
            </li>
        </ul>
    </section>
    <section class="footer__content__section">
        <h3 class="footer__content__section__title text-center">¿Quiénes Somos?</h3>
        <p class="footer__content__section__text">&nbsp;&nbsp;
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore corrupti aspernatur a voluptatibus similique aliquid ducimus in aliquam, ipsam obcaecati quos veritatis id ea voluptas asperiores laborum porro deleniti.
            Aut fuga saepe iste omnis eius aperiam exercitationem cupiditate, iusto explicabo quaerat accusamus molestiae reiciendis dignissimos repellendus repellat modi vitae odio! Itaque quod a facere quas quidem distinctio dolorum culpa.
            Maiores a animi necessitatibus libero esse amet vitae incidunt sapiente accusamus, nam hic nihil possimus voluptatem illo, reprehenderit, obcaecati minus? Mollitia eius laborum pariatur veritatis nulla optio libero odit aperiam!
            Perferendis eligendi esse sint quae, numquam suscipit magni, obcaecati soluta quaerat vel dolor rerum, aspernatur aliquid eos. Similique quo quis facilis possimus consequuntur rerum mollitia, quae autem amet velit alias?
        </p>
    </section>
    <section class="footer__content__section">
        <h3 class="footer__content__section__title">Comunícate con Nosotros</h3>
        <fieldset class="footer__content__section__message">
            <legend class="footer__content__section__message__title">Mensaje</legend>
            <form class="footer__content__section__message__form">
                <div class="footer__content__section__message__form-group">
                    <label for="name" class="footer__content__section__message__form-group--label">Nombre</label>
                    <input type="text" name="name" id="name" class="footer__content__section__message__form-group--input" placeholder="Escribe Tu Nombre...">
                </div>
                <div class="footer__content__section__message__form-group">
                    <label for="email" class="footer__content__section__message__form-group--label">E-mail</label>
                    <input type="email" name="email" id="email" class="footer__content__section__message__form-group--input" placeholder="Escribe Tu Correo...">
                </div>
                <!-- <div class="footer__content__section__message__form-group">
                    <label for="message" class="footer__content__section__message__form-group--label">Mensaje</label>
                    <textarea name="message" id="message" class="footer__content__section__message__form-group--textarea" placeholder="
            Escribe Tu Mensaje...
                    
                    "></textarea>
                </div> -->
                <div class="footer__content__section__message__form-group">
                    <button type="submit" class="footer__content__section__message__form-group--btn">
                        <i class="far fa-paper-plane"></i> Enviar
                    </button>
                </div>
            </form>
        </fieldset>
    </section>
    <div class="footer__content__description">
        <p>
            &succcurlyeq; Todos los Derechos Reservados &ac; Juan Diego Rico &copy;
        </p>
    </div>
</div>