<header class="navbar__header">
    <div class="navbar__header__brand">
        <span class="navbar__header__brand--logo">
            <i class="fas fa-shield-virus"></i>
        </span>
        <h2 class="navbar__header__brand--title">Titulo</h2>
    </div>
    <nav class="navbar__header__links">
        <a href="#" class="navbar__header__links--item">Inicio</a>
        <a href="#" class="navbar__header__links--item">Nosotros</a>
        <a href="#" class="navbar__header__links--item">Contacto</a>
    </nav>
</header>